.App {
    text-align: center;
  }
  
  .form {
    margin: 20px 0;
  }
  
  .todos {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .todos li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .todos li button {
    margin-left: 10px;
  }